<div class="bg-primary text-white p-3 shadow-sm">

    <div class="d-flex justify-content-between align-items-center">

        <!-- LEFT -->

        <div class="d-flex align-items-center">

            <!-- TOGGLE BUTTON -->

            <button
                class="btn btn-light me-3"
                (click)="toggleSidebar()">

                ☰

            </button>

            <!-- LOGO -->

            <img
                src="https://upload.wikimedia.org/wikipedia/commons/6/68/Emblem_of_Uttarakhand.svg"
                width="55"
                class="me-3">

            <div>

                <h4 class="mb-0">
                    State Water & Sanitation Mission
                </h4>

                <small>
                    Uttarakhand Government
                </small>

            </div>

        </div>

        <!-- RIGHT -->

        <div class="dropdown">

            <button
                class="btn btn-light dropdown-toggle"
                data-bs-toggle="dropdown">

                👤 {{username}}

            </button>

            <ul class="dropdown-menu dropdown-menu-end">

                <li>

                    <button
                        class="dropdown-item text-danger"
                        (click)="logout()">

                        Logout

                    </button>

                </li>

            </ul>

        </div>

    </div>

</div>