.stats-section {
  background: linear-gradient(to right,#002b6f,#001a47);
  padding: 35px;
  color: white;
}

.stat-box {
  text-align: center;
}

.stat-box h2 {
  font-size: 48px;
  font-weight: 700;
}