<div class="container mt-5">

  <div class="row justify-content-center">

    <div class="col-md-4">

      <div class="card shadow">

        <div class="card-header bg-primary text-white text-center">

          <h4>TPI Inspection Login</h4>

        </div>

        <div class="card-body">

          <div class="mb-3">

            <label>Username</label>

            <input
              type="text"
              class="form-control"
              [(ngModel)]="loginData.Email">

          </div>

          <div class="mb-3">

            <label>Password</label>

            <input
              type="password"
              class="form-control"
              [(ngModel)]="loginData.PasswordHash">

          </div>

          <button
            class="btn btn-primary w-100"
            (click)="login()">

            Login

          </button>

        </div>

      </div>

    </div>

  </div>

</div>