.footer-section {
  background: #001b44;
  color: white;
  padding: 50px;
}

.footer-section h4 {
  margin-bottom: 20px;
}

.footer-section a {
  display: block;
  color: #ddd;
  margin-bottom: 10px;
  text-decoration: none;
}

.social-icons i {
  font-size: 28px;
  margin-right: 15px;
}