<footer class="footer">
  <div class="container-fluid px-4">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-6">
        <h5>Quick Links</h5>
        <div class="footer-links two-col">
          <a routerLink="/">Home</a>
          <a routerLink="dashboard">Reports & Dashboard</a>
          <a routerLink="about-us">About Us</a>
          <a routerLink="scheme">Schemes</a>
          <a routerLink="documents">Documents</a>
          <a routerLink="inspections">Inspections</a>
          <a routerLink="notifications">Notifications</a>
        </div>
      </div>

      <div class="col-lg-2 col-md-6">
        <h5>Important Links</h5>
        <div class="footer-links">
          <a href="#">Jal Jeevan Mission</a>
          <a href="#">Govt. of Uttarakhand</a>
          <a href="#">Ministry of Jal Shakti</a>
          <a href="#">National Jal Jeevan Mission</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <h5>Contact Us</h5>
        <p><i class="bi bi-geo-alt"></i> PHED, Government of Uttarakhand<br />Sahastradhara Road, Dehradun</p>
        <p><i class="bi bi-envelope"></i> tpinspection.uk@nic.in</p>
        <p><i class="bi bi-telephone"></i> +91-135-275XXXX</p>
      </div>

      <div class="col-lg-2 col-md-6">
        <h5>Follow Us</h5>
        <div class="socials">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter-x"></i>
          <i class="bi bi-youtube"></i>
          <i class="bi bi-linkedin"></i>
        </div>
      </div>

      <div class="col-lg-2 col-md-6">
        <h5>Mobile App</h5>
        <div class="mobile-app">
          <i class="bi bi-phone"></i>
          <span>Coming Soon</span>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <span>© 2026 Third Party Inspection System. All Rights Reserved.</span>
      <span>Designed & Developed by NIC Uttarakhand</span>
    </div>
  </div>
</footer>