<div
    id="sidebar"
    class="sidebar bg-dark text-white shadow">

    <!-- LOGO -->

    <div class="text-center p-3 border-bottom">

        <img
            src="https://upload.wikimedia.org/wikipedia/commons/6/68/Emblem_of_Uttarakhand.svg"
            width="80"
            class="sidebar-logo">

        <h5 class="mt-2 sidebar-title">
            TPI System
        </h5>

    </div>

    <!-- MENU -->

    <ul class="nav flex-column p-3">

        <li class="nav-item mb-2">

            <a
                routerLink="/dashboard"
                routerLinkActive="active-link"
                class="nav-link text-white">

                <span class="menu-icon">
                    📊
                </span>

                <span class="menu-text">
                    Dashboard
                </span>

            </a>

        </li>

        <li class="nav-item mb-2">

            <a
                routerLink="/reports"
                routerLinkActive="active-link"
                class="nav-link text-white">

                <span class="menu-icon">
                    📄
                </span>

                <span class="menu-text">
                    Reports
                </span>

            </a>

        </li>

        <li
            class="nav-item mb-2"
            >

            <a
                routerLink="/user-management"
                routerLinkActive="active-link"
                class="nav-link text-white">

                <span class="menu-icon">
                    👥
                </span>

                <span class="menu-text">
                    User Management
                </span>

            </a>

        </li>

    </ul>

</div>