<header class="top-header">

  <div class="top-bar">

    <div class="left-logo">

      <img src="/assets/images/logo.jpg">

      <!-- <div>
        <h5>Jal Jeevan Mission</h5>
        <span>Har Ghar Jal</span>
      </div> -->

    </div>

    <div class="main-title">

      <h1>
        Third Party Inspection in Water Supply Schemes in Uttarakhand
      </h1>

      <p>
        Ensuring Quality. Ensuring Accountability.
      </p>

    </div>

    <div class="right-logo">
      <img src="/assets/images/uk-logo.png">
    </div>

  </div>

  <nav class="navbar-section">

    <a [routerLink]="['/']" routerLinkActive="router-link-active">
      <i class="bi bi-house"></i>
      Home
    </a>

    <a [routerLink]="['about-us']" routerLinkActive="router-link-active" >
      <i class="bi bi-info-circle"></i>
      About
    </a>

    <a [routerLink]="['schemes']" routerLinkActive="router-link-active" >
      <i class="bi bi-grid"></i>
      Schemes
    </a>

    <a [routerLink]="['inspections']" routerLinkActive="router-link-active" >
      <i class="bi bi-search"></i>
      Inspections
    </a>

    <a [routerLink]="['dashboard']" routerLinkActive="router-link-active">
      <i class="bi bi-bar-chart"></i>
      Dashboard
    </a>

    <a [routerLink]="['documents']" routerLinkActive="router-link-active">
      <i class="bi bi-file-earmark"></i>
      Documents
    </a>

    <a [routerLink]="['notifications']" routerLinkActive="router-link-active">
      <i class="bi bi-bell"></i>
      Notifications
    </a>

    <a [routerLink]="['contact']" routerLinkActive="router-link-active">
      <i class="bi bi-telephone"></i>
      Contact
    </a>

     <a [routerLink]="['/login']" routerLinkActive="router-link-active">
      <i class="bi bi-person"></i>
      Login
    </a>

  </nav>

</header>