
:host {
  display: block;
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  color: #0c2444;
  background: #f4f8fb;
}

.top-header {
  background: #f8fbff;
  padding: 10px 0;
}

.logo {
  width: 42px;
}

.state-logo {
  width: 56px;
}

.brand-small {
  font-size: 12px;
  line-height: 1.2;
  color: #0d5dae;
}

.top-header h1 {
  margin: 0;
  font-size: 25px;
  font-weight: 800;
  color: #092248;
}

/* .top-header h1 span,
.top-header h1::first-letter {
  color: #095fc0;
} */

.top-header .top-color {
  color: #095fc0;
}

.top-header p {
  margin: 4px 0 0;
  font-size: 15px;
  color: #253b58;
}

.top-btn,
.access-btn {
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: #edf4fb;
  color: #071e3d;
  font-weight: 700;
}

.access-btn {
  background: #0875d1;
  color: #fff;
}

.main-nav {
  background: #062653;
  min-height: 44px;
  padding: 0;
}

.main-nav .nav-link {
  color: #fff;
  padding: 14px 17px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.main-nav .nav-item.active .nav-link,.router-link-active {
  background: #006ed3;
}









@media (max-width: 992px) {
  .top-header .text-center {
    display: none;
  }

  .hero-content {
    padding-left: 40px;
    padding-right: 40px;
  }

  .stats-panel {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .hero-content h2 {
    font-size: 26px;
  }

  .stats-panel,
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 6px;
  }
}